# Created by .ignore support plugin (hsz.mobi)
### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/
# 排除node_modules
*/*/node_modules/
.idea
.idea/workspace.xml

