<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <title>Title</title>
<body>
    <div id="app"> 
		<!-- 1 单选框 -->
		<label for="agree">
			<input type="checkbox"  id="agree" v-model="isAgree"/>同意协议
		</label>
		<h3>选中的是：{{isAgree}}</h3>
		
		<!-- 2 复选框 -->
        
		<label for="a">	<input type="checkbox"   value="篮球" v-model="hobbies" id="a"/></label>篮球
		<label for="b">	<input type="checkbox"   value="足球" v-model="hobbies" id="b"/></label>足球
		<label for="c">	<input type="checkbox"   value="网球" v-model="hobbies" id="c"/></label>网球
		<label for="d">	<input type="checkbox"   value="橄榄球" v-model="hobbies" id="d"/></label>橄榄球
		<h3>选中的是：{{hobbies}}</h3>
		
    </div>
    <script src="../js/vue.js"></script>
    <script>
      
        const app = new Vue({
            el:"#app",  //用户要挂载管理的元素
            data:{
               isAgree:false,
			   hobbies:[]
            }
        })
    </script>
</body>
</html>